*,
body {
  margin: 0;
  padding: 0;
  background-color: #7eaa92;
}

body {
  font-family: sans-serif;
  color: white;
}

header {
  display: grid;
  grid-template-areas:
    "hero hero picture-1"
    "hero hero picture-2";
}
